<div class="main-box">
    <p-table [value]="ansOpts" [paginator]="true" [rows]="10" sortMode="multiple">
        <ng-template pTemplate="header">
            <tr>
                <th>Description</th>
                <th>Is correct answer</th>
                <th>Weight</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ansOpt>
            <tr>
                <td>{{ansOpt.description}}</td>
                <td>{{ansOpt.correctAnswer | correctAns}}</td>
                <td>{{ansOpt.weight | weight}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>