<div >
    <h1> Account details </h1>
    <ul>
        <li> <b>Professor's identification card:</b> {{professor.identificationCard }}</li>
        <li> <b>Professor's name:</b> {{professor.name }}</li>
        <li> <b>Professor's lastname:</b> {{professor.lastname }}</li>
        <li> <b>Professor's email:</b> {{professor.email }}</li>
        <li> <b>Professor's username:</b> {{professor.username }}</li>
    </ul>
</div>

<button type="button" (click)="changePassword()" pButton icon="pi pi-info-circle" label="Change password"></button>