<p-toast></p-toast>

<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
        <label for="auto-ansopt-question-exam">Select an exam</label>
        <p-autoComplete id="auto-ansopt-question-exam" [(ngModel)]="exam" (onSelect)="setQuestions()" [suggestions]="dropListExams" [dropdown]="true" (completeMethod)="searchExam($event)" field="name"></p-autoComplete>
    </div>
</div>

<div *ngIf="exam.id !== 0" class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
        <label for="auto-ansopt-question">Select a question</label>
        <p-autoComplete id="auto-ansopt-question" [(ngModel)]="question" (onSelect)="setAnsOpts()" [suggestions]="dropListQuestions" [dropdown]="true" (completeMethod)="searchQuestion($event)" field="description"></p-autoComplete>
    </div>
</div>

<div *ngIf="exam.id !== 0 && question.id !== 0">
    <form [formGroup]="ansOptForm">
        <div class="p-fluid p-formgrid p-grid">

            <div class="p-field p-col-12">
                <label for="ans-opt-weight">Weight</label>
                <p-inputNumber id="ans-opt-weight" mode="decimal" [max]="5" [min]="0" [step]="0.01" [minFractionDigits]="1" [maxFractionDigits]="2" formControlName="weight"></p-inputNumber>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="correct-answer">Correct answer</label>
                <p-toggleButton onLabel="Yes" offLabel="No" formControlName="correctAnswer"></p-toggleButton> 
            </div>
            <div class="p-field p-col-12">
                <label for="ans-opt-description">Description</label>
                <textarea id="ans-opt-description" [rows]="4" [autoResize]="true" pInputTextarea formControlName="description"></textarea>
            </div>    
            <div *ngIf="creatingAnsOpt" class="p-field p-col-12 p-md-6">
                <p-button [disabled]="ansOptForm.invalid" icon="pi pi-check" label="Create answer" class="p-button-secondary" (click)="saveAnsOpt()"></p-button>
            </div>
            <div *ngIf="creatingAnsOpt && ansOptForm.touched" class="p-field p-col-12 p-md-6">
                <p-button icon="pi pi-times" label="Cancel" class="p-button-secondary" (click)="cancelNewAnsOpt()"></p-button>
            </div>
            <div *ngIf="!creatingAnsOpt" class="p-field p-col-12 p-md-6">
                <p-button [disabled]="ansOptForm.invalid" icon="pi pi-pencil" label="Update answer" class="p-button-secondary" (click)="updateAnsOpt()"></p-button>
            </div>
            <div *ngIf="!creatingAnsOpt" class="p-field p-col-12 p-md-6">
                <p-button icon="pi pi-times" label="Cancel" class="p-button-secondary" (click)="cancelUpdateAnsOpt()"></p-button>
            </div>
        </div>
    </form>
    <app-answer-option-main-view [(creatingAnsOpt)]="creatingAnsOpt" [(ansOpts)]="ansOpts" [(ansOpt)]="ansOpt" [(ansOptForm)]="ansOptForm"></app-answer-option-main-view>
</div>