<p-toast></p-toast>
<form [formGroup]="form">
    <div class="form-user__div">
        <span class="p-float-label">
            <input id="identificationCard" type="text" pInputText formControlName="identificationCard"> 
            <label for="inputtext">Identification Card</label>
        </span>
    </div>
    <div class="form-user__div">
        <span class="p-float-label p-input-icon-left form-user__div-span">
            <input id="name-input" type="text" pInputText formControlName="name"> 
            <label for="name-input">Name</label>
        </span>
        <span class="p-float-label p-input-icon-right form-user__div-span">
            <input id="lastname-input" type="text" pInputText formControlName="lastname"> 
            <label for="lastname-input">Lastname</label>
        </span>
    </div>

    <div class="form-user__div">
        <span class="p-float-label p-input-icon-right">
            <input id="email-input" type="email" pInputText formControlName="email"> 
            <label for="email-input">Email</label>
        </span>
    </div>
    <div class="form-user__div">
        <span class="p-float-label p-input-icon-right">
            <input id="username-input" type="text" pInputText formControlName="username"> 
            <label for="username-input">Username</label>
        </span>
    </div>
    <div class="form-user__div">
        <span class="p-float-label p-input-icon-right">
            <input id="password-input" type="password" pInputText formControlName="password"> 
            <label for="password-input">Password</label>
        </span>
    </div>

    <p-button [disabled]="form.invalid" label="Create user" class="ui-button-info" (click)="saveProfessor()"></p-button>
    <p-button label="" label="Cancel" class="form-user__p-button" (click)="cancel()">  </p-button>
</form>