<p-toast></p-toast>

<body>
    <form class="login-form" [formGroup]="loginForm">
        <div class="box">
            <div class="img"> 
                <img src="{{resourceUrl}}" alt="User photo"/>
            </div>
            <div class="heading">
                <h4> Welcome to Exam App </h4>
            </div>
            <div class="form-fields"> 
                <div class="input-box">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" type="text" pInputText formControlName="username"> 
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" pPassword formControlName="password">
                </div>
            
                <div class="button-box">
                    <button type="button" [disabled]="loginForm.invalid" (click)="logIn()"> Log in</button>
                    <button type="button" (click)="logUp()"> Log up</button>
                </div>
            </div>
        </div>
    </form>
</body>