<p-toast></p-toast>
<form [formGroup]="loginForm">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label for="username">Username</label>
            <input id="username" type="text" pInputText formControlName="username"> 
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="password">Password</label>
            <input id="password" type="password" pPassword formControlName="password">
        </div>
        
        <div class="p-field p-col-12 p-md-6">
            <p-button [disabled]="loginForm.invalid" icon="pi pi-check" label="Log in" class="p-button-secondary" (click)="logIn()"></p-button>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <p-button icon="pi pi-user" label="Log up" class="p-button-secondary" (click)="logUp()"></p-button>
        </div>
    </div>
</form>