<div class="main-box">
    <form class="form-box" [formGroup]="passwordForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="form-p-field p-col-12 p-md-6">
                <label for="old-password-input">Old password</label>
                <input class="pass-field" id="old-password-input" type="password" pPassword formControlName="oldPassword"> 
            </div>

            <div class="form-p-field p-col-12 p-md-6">
                <label for="new-password-input">New password</label>
                <input class="pass-field" id="new-password-input" type="password" pPassword formControlName="newPassword"> 
            </div>

            <div class="p-field p-col-12 p-md-6">
                <p-button [disabled]="passwordForm.invalid" icon="pi pi-pencil" label="Change password" class="p-button-secondary" (click)="changePassword()"></p-button>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <p-button icon="pi pi-times" label="Cancel" class="p-button-danger" (click)="cancel()">  </p-button>
            </div>
        </div>
    </form>
</div>