<b>Professor: </b> {{exam.professor.name}} {{exam.professor.lastname}}

<ul>    
    <li><b>Exam name: </b> {{exam.name}}</li>
    <li><b>Description: </b> {{exam.description}}</li>
    <li><b>Link: </b> {{exam.link}}</li>
    <li><b>Max grade: </b> {{exam.maxGrade}}</li>
    <li><b>Durability: </b> {{exam.durability}}</li>
</ul>

<p-table [value]="questions" [paginator]="true" [rows]="10" sortMode="multiple">
    <ng-template pTemplate="header">
        <tr>
            <th>Image</th>
            <th>Description</th>
            <th>Kind of question</th>
            <th>Weight</th>
            <th>View answer options details</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-q>
        <tr>
            <td><img [src]="q.image" height="25" *ngIf/></td>
            <td>{{q.question.description}}</td>
            <td>{{q.question.type | questionType}}</td>
            <td>{{q.question.weight | weight}}</td>
            <td *ngIf="q.question.type !== 'op'">
                <button pButton type="button" icon="pi pi-eye" class="p-button-text" (click)="setAnswerOpts(q.question)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>