.main-box {
    padding: 0px 1px 0px 1px;
    margin: 10px 5px 10px 5px;
    border: 0px;
    box-shadow: 0px 0px 10px #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.main-box .form-box {
    padding: 15px 15px 15px 15px;
    margin: 0px 0px 5px 0px;
}

.professor-title {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(33, 150, 243, 1);
    font-size: 200%;
    color: white;
}

.main-box .form-box .link-field {
    width: 26em;
    background-color: rgb(255, 255, 255);
    justify-content: left;
    padding: 10px;
    border-color: rgb(203, 203, 203);
    border-width: 1px;
    color: rgb(203, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 101%;
}
