<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-table [value]="questions" [paginator]="true" [rows]="10" sortMode="multiple">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="description"> Question <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="type"> Kind of question <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="weight" > Weight <p-sortIcon field="description"></p-sortIcon></th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
        <tr>
            <td>{{question.description}}</td>
            <td>{{question.type | questionType}}</td>
            <td>{{question.weight | weight}}</td>
            <td>
                <button pButton [disabled]="!creatingQuestion" title="Edit question" type="button" icon="pi pi-pencil" class="p-button-text" (click)="updateQuestion(question)"></button>
                <button pButton [disabled]="!creatingQuestion" title="Remove question" type="button" icon="pi pi-trash" class="p-button-text" (click)="delQuestion(question)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>